[Desktop Entry]
Name=VocabNotify
GenericName=Vocabulary Manager
X-GNOME-FullName=VocabNotify Vocabulary Manager
Comment=Helps you remember the definition of words better
Keywords=dictionary;
Exec=vocabnotify
Icon=vocabnotify
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;Languages;Literature;
Version=0.1
